.icon-chat-ambassador + span, .user.role-ambassador.role-host .name, .user.role-ambassador.role-cohost .name, .user.role-ambassador.role-manager .name, .user.role-ambassador.role-bouncer .name, .user.role-ambassador.role-dj .name, #chat .from.ambassador .un {
    color: #FFA500 !important;
}
.icon-chat-host + span, .user.role-host .name {
    color:#C71585 !important;
}
.icon-chat-cohost + span, .user.role-cohost .name {
    color: #C71585 !important;
}
.icon-chat-manager + span, .user.role-manager .name {
    color: #D02090 !important;
}
.icon-chat-bouncer + span, .user.role-bouncer .name {
    color: #FF00FF !important;
}
.icon-chat-dj + span, .user.role-dj .name {
    color: #EE82EE !important;
}
.icon-chat-subscriber + span {
	color: #C1973B !important;
}
.icon-chat-silver-subscriber + span {
	color: #8391AE !important;
}
.icon-chat-ambassador {
	background: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/ba.png") !important;
}
.icon-chat-host {
	background: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/host-cohost-animated.png") !important;
	-webkit-animation: iconAni 5s steps(40) infinite; 
    	-moz-animation: iconAni 5s steps(40) infinite;
    	-o-animation: iconAni 5s steps(40) infinite;
    	animation: iconAni 5s steps(40) infinite;
}
.icon-chat-cohost {	
	background: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/host-cohost-animated.png") !important;
	-webkit-animation: iconAni 5s steps(40) infinite; 
    	-moz-animation: iconAni 5s steps(40) infinite;
    	-o-animation: iconAni 5s steps(40) infinite;
    	animation: iconAni 5s steps(40) infinite;
	
}
.icon-chat-manager {	
	background: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/manager.png") !important;
}
.icon-chat-bouncer {	
	background: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/bouncer.png") !important;
}
.icon-chat-dj {	
	background: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/rdj.png") !important;
}
.icon-chat-subscriber {
	background: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/subscriber.png") !important;
}
.icon-chat-silver-subscriber {
	background: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/silver-subscriber.png") !important;
}
@keyframes iconAni {
    from {background-position: 0px;}
    to {background-position: -600px;}
}
@-o-keyframes iconAni  {
    from {background-position: 0px;}
    to {background-position: -600px;}
}
@-webkit-keyframes iconAni {
    from {background-position: 0px;}
    to {background-position: -600px;}
}
