.badge-box {
	background: none !important;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-o-transition: all 1s ease; /* IE 9 */
	-ms-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
}
.badge-box.no-badge i {
 background-image: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badge/no-badge.png");
 background-repeat: no-repeat;
 background-size: 30px;
 top: 0px;
 left: 0px;
 width: 30px;
 height: 30px;
 border: none;
}

/* Satskhi */
[data-cid^="4405644-"] .badge-box .bdg, #user-rollover.id-4405644 .badge-box .bdg,
[data-cid^="4405644-"] .badge-box.no-badge i, #user-rollover.id-4405644 .badge-box.no-badge i {
    background: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badge/badge-4405644.png") !important;
	-webkit-animation: bdg-4405644 5s steps(32) infinite; 
    -moz-animation: bdg-4405644 5s steps(32) infinite;
    -o-animation: bdg-4405644 5s steps(32) infinite;
    animation: bdg-4405644 5s steps(32) infinite;
    border-radius: 5px !important;
}
@keyframes bdg-4405644 {
    from {background-position: 0px;}
    to {background-position: -960px;}
}
@-o-keyframes bdg-4405644 {
    from {background-position: 0px;}
    to {background-position: -960px;}
}
@-webkit-keyframes bdg-4405644 {
    from {background-position: 0px;}
    to {background-position: -960px;}
}
/* Satskhi */

/* EDTBot */
[data-cid^="13720951-"] .badge-box .bdg, #user-rollover.id-13720951 .badge-box .bdg,
[data-cid^="13720951-"] .badge-box.no-badge i, #user-rollover.id-13720951 .badge-box.no-badge i {
    background: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badge/badge-13720951.png") !important;
    -webkit-animation: bdg-13720951 3s steps(20) infinite !important; 
    -moz-animation: bdg-13720951 3s steps(20) infinite !important;
    -o-animation: bdg-13720951 3s steps(20) infinite !important;
    animation: bdg-13720951 3s steps(20) infinite !important;
    border-radius: 5px !important;
}
@keyframes bdg-13720951 {
    from {background-position: 0px;}
    to {background-position: -540px;}
}
@-o-keyframes bdg-13720951 {
    from {background-position: 0px;}
    to {background-position: -540px;}
}
@-webkit-keyframes bdg-13720951 {
    from {background-position: 0px;}
    to {background-position: -540px;}
}
/* EDTBot */

/* Fеnix */
[data-cid^="4838584-"] .badge-box .bdg, #user-rollover.id-4838584 .badge-box .bdg,
[data-cid^="4838584-"] .badge-box.no-badge i, #user-rollover.id-4838584 .badge-box.no-badge i {
    background: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badge/badge-4838584.png") !important;
	-webkit-animation: bdg-4838584 3s steps(22) infinite; 
    -moz-animation: bdg-4838584 3s steps(22) infinite;
    -o-animation: bdg-4838584 3s steps(22) infinite;
    animation: bdg-4838584 3s steps(22) infinite;
    border-radius: 5px !important;
}
@keyframes bdg-4838584 {
    from {background-position: 0px;}
    to {background-position: -660px;}
}
@-o-keyframes bdg-4838584 {
    from {background-position: 0px;}
    to {background-position: -660px;}
}
@-webkit-keyframes bdg-4838584 {
    from {background-position: 0px;}
    to {background-position: -660px;}
}
/* Fеnix */

/* 4SharedPRO */
[data-cid^="13720951-"] .badge-box .bdg, #user-rollover.id-13720951 .badge-box .bdg,
[data-cid^="13720951-"] .badge-box.no-badge i, #user-rollover.id-13720951 .badge-box.no-badge i {
    background: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badge/badge-13720951.png") !important;
	-webkit-animation: bdg-13720951 1s steps(20) infinite; 
    -moz-animation: bdg-13720951 1s steps(20) infinite;
    -o-animation: bdg-13720951 1s steps(20) infinite;
    animation: bdg-13720951 1s steps(20) infinite;
    border-radius: 5px !important;
}
@keyframes bdg-13720951 {
    from {background-position: 0px;}
    to {background-position: -600px;}
}
@-o-keyframes bdg-13720951 {
    from {background-position: 0px;}
    to {background-position: -600px;}
}
@-webkit-keyframes bdg-13720951 {
    from {background-position: 0px;}
    to {background-position: -600px;}
}
/* 4SharedPRO */





/* Pedro */
[data-cid^="3972914-"] .badge-box .bdg, 
#user-rollover.id-3972914 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badge/badge-3972914.gif") !important;
    background-repeat: no-repeat !important;
    background-size: 30px !important;
    background-position: center;
}
/* Pedro */
/* Chuck */
[data-cid^="3616716-"] .badge-box .bdg, 
#user-rollover.id-3616716 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badge/badge-3616716.gif") !important;
    background-repeat: no-repeat !important;
    background-size: 30px !important;
    background-position: center;
}
[data-cid^="3469419-"] .badge-box .bdg, 
#user-rollover.id-3469419 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badge/badge-3616716.gif") !important;
    background-repeat: no-repeat !important;
    background-size: 30px !important;
    background-position: center;
}
/* Chuck */
