.badge-box {
	background: none !important;
}
.badge-box.no-badge i {
 background-image: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badges/no-badge.gif");
 background-repeat: no-repeat;
 background-size: 30px;
 top: 0px;
 left: 0px;
 width: 30px;
 height: 30px;
 border: none;
}
/* Satskhi */
[data-cid^="4405644-"] .badge-box .bdg {
    background-image: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badges/badge-4405644.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-4405644 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badges/badge-4405644.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
[data-cid^="4453527-"] .badge-box .bdg {
    background-image: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badges/badge-4453527.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-4453527 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badges/badge-4453527.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
/* Satskhi */
/* Fеnix */
[data-cid^="4838584-"] .badge-box .bdg {
    background-image: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badges/badge-4838584.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-4838584 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badges/badge-4838584.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
/* Fеnix */
/* Pedro */
[data-cid^="3972914-"] .badge-box .bdg {
    background-image: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badges/badge-3972914.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-3972914 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/badges/badge-3972914.gif") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
/* Pedro */
