.badge-box {
	background: none !important;
}
/* Satskhi */
.fromID-4405644 .badge-box i, .id-4405644 .badge-box i {
	background-image: url("http://bit.ly/Sat4405644");
	background-repeat: round;
	background-size: 30px;
	border-radius: 5px
}
/* Satskhi */
/* Fеnix */
.fromID-4838584 .badge-box i, .id-4838584 .badge-box i {
	background-image: url("http://bit.ly/Sat4838584");
	background-repeat: round;
	background-size: 30px;
	border-radius: 5px
}
/* Fеnix */
/* Pedro */
.fromID-3972914 .badge-box i, .id-3972914 .badge-box i {
	background-image: url("http://bit.ly/Sat3972914");
	background-repeat: round;
	background-size: 30px;
	border-radius: 5px
}
/* Pedro */
