@import url("https://rawgit.com/Satskhi/PlugCssSatskhi/master/css/staff.css");
/*
.icon-site-logo {
    background: url('');
}
*/
#app-menu, .app-header, #footer, #playlist-panel, #media-panel, #history-button, #room .app-right, #user-view, #waitlist .list .sortable-placeholder, #waitlist, #waitlist .list .user, .app-right .friends {
    background: #000;
}
#playlist-menu, #user-menu, #app-menu .list {
    background: none;
}
.header-panel-button.selected, #footer-user .buttons .button.store:hover, #footer-user .buttons .button:hover, #app-menu .list .item:hover, #app-menu .list .logout:hover, .app-right .friends.has-requests .header {
 background: #BC3648; 
 color: #FFF;
}
#app-menu .list .rcsunload:hover {
 background: #BC3648 !important;
}
/* Rory imgs*/
/*https://i.imgur.com/tJ6bT3m.png*/
#chat-messages {
    background: rgba(0, 0, 0, 1) url(https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/chat-rory.png) center left no-repeat !important;
}
#chat-header, #chat .cm, #chat .cm:nth-child(2n+1) {
    background: rgba(0, 0, 0, 0.75);
}
#app-menu.open {
    background: rgba(0, 0, 0, 1) url(https://rawgit.com/Satskhi/PlugCssSatskhi/master/img/menu-rory.png) center bottom no-repeat !important;
}
#app-menu .list .logout {
    width: 95px;
}
#app-menu .list .rcsunload {
    left: 110px !important;
    width: 115px !important;
    bottom: 9px !important;
}
/* Rory imgs*/
/* woot grab meh */
#woot.selected .icon, #grab.selected .icon, #meh.selected .icon {
    animation: pulse 1s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
/* woot grab meh */
/* scrollbar */
::-webkit-scrollbar {
    background: rgba(0,0,0,0.75);
}
::-webkit-scrollbar-thumb {
    background: #bc3648 !important;;
}
.jspDrag, .jspDrag:hover, .jspTrack .jspActive, .jspTrack .jspHover {
    background: #bc3648;
}
/* scrollbar */
